@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park:300,400,600,700&display=swap');

*{
box-sizing: border-box;
transition: all ease-in-out 250ms
}
body{
	margin: 0;
	font-family: 'Kulim Park', sans-serif;
	text-align: center;

	
}
img{
	max-width: 100%;
	height: auto;
	
}
/*dark mode */
.dark-mode {
	color: #E0E1DD;
  }
  
  .dark-mode p {
	color: #E0E1DD;
  }
  

  .dark-mode .home-intro{
	background-color:#101531ff;
  }

  .dark-mode .about{
	background-color:#5a0d12ff;
  }
  .dark-mode .portfolio{
	background-color:#101531ff;
  }
  .dark-mode .portfolio h1{
	color:#a3c0f2ff;
  }

  .dark-mode .blogpost{
	background-color:#5a0d12ff;;
  }.dark-mode .blog{
	background-color:#5a0d12ff;;
  }
  .dark-mode .blog h1{
	color:#a3c0f2ff;
  }
  .dark-mode .cta{
	background-color:#101531ff;
  }

 .dark-mode .collapsible {
	background-color:#101531ff;

  }

  .dark-mode .content {
	background-color: #101531ff;
  }

  .dark-mode h4{
	
	color: #a3c0f2ff;
  }

  .dark-mode h5{
	
	color: #ffca4fff;
  }

/* CSS HEX 
--violet-blue: #384bb7ff;
--white: #ffffffff;
--baby-blue-eyes: #a3c0f2ff;
--maize-crayola: #ffca4fff;
--salmon-pink: #f18b93ff;
*/
/* CSS HEX Dark Mode
--oxford-blue: #101531ff;
--onyx: #454545ff;
--space-cadet: #0f2c5eff;
--pullman-brown-ups-brown: #583e02ff;
--rosewood: #5a0d12ff;
 */




/*typography ============*/
h1{
	font-size: 3.052rem;
	margin-top: 0;
	margin-bottom:0px ;
	text-align: left;
	
}

h2{
	font-size: 2.441rem;
	margin-top: 0;
	text-align: left;
	color: #fff;
	
}

h3{
	font-size: 1.953rem;
	text-align: left;
	color: #384bb7ff;
}

h4{
	font-size:1.563rem ;
	text-align: left;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

h5 { 
	font-size: 1.25Rem;
	text-align: left;
	color: #384bb7ff;
	font-family: 'Roboto', sans-serif;
}

input{
	font-size: .8em;
}
label {
	
	font-size: 1.8em;
}

p{
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	text-align:left;
	color: #384bb7ff;
	font-size: 18px;


}

p:last-of-type {
	margin-bottom: 0;
	
}

/*sections*/

/*header*/

/*header
============*/

header{
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul{
	margin: 0;
	padding: 0;
    list-style: none;
    
}

nav li{
	display: inline-block;
	margin: 1em;
	
}
nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	padding: .5em;
    color: white;
    

}



/* home intro*/

.title{
	font-weight: 900;
	padding-top: .5em;
}





@media(min-width: 60rem){
	.title{
		font-size: 18rem;
		padding: .8em 0 0 0;
	
	}
}

.about a{
	text-decoration: none;
    color:#FFF;
    

}


.portfolio a{
	text-decoration: none;
    color:#eca400;
    

}

.portfolio a:hover,
.portfolio a:focus{
	color: #ffca4fff
}

.blog a{
	text-decoration: none;
    color:#FFF;
    

}



.blog a:hover,
.blog a:focus{
	color: #fff
}

.blogpost a{
	text-decoration: none;
    color:#FFF;
    

}
nav a:hover,
nav a:focus{
	color: #3B7DE4
}
@media(min-width: 60rem){
	.logo{
        float: left;
    	max-width: 10%;
}
	
	nav {
        float: right
        
	}
    }

    .container{
        width: 95%;
		padding-bottom: 8em;
		padding-left: 100px;

    }
    

.home-intro{
	
/*	background-image: url("../img/header.png");*/
 background-color: #384bb7ff;
	background-size: cover;
	background-position: center;
    color: #ffca4fff;
	background-attachment: fixed;

}

.home-intro h2{
	color: #f18b93ff;
}

.digi-intro{
	
background-color: #E84855;
	background-size: cover;
	background-position: center;
	padding: 1em 0;
    color: #eca400;
    background-attachment: fixed;

}


.project1-intro{
	
	background-color: #eca400;
		background-size: cover;
		background-position: center;
		padding: 1em 0;
		color: #fff;
		background-attachment: fixed;
	
	}

	.extended{
	
		background-image: url("../img/rf.jpg");
		background-size: cover;
		background-position: center;
		padding: 10em 0;
		color: #eca400;
		background-attachment: fixed;
	
	}
   
.about{
 padding: 60px 0px;
 transition: ease-in;
 background-color: #ffca4fff;
}

.about after {
		content: "";
		display: table;
		clear: both;
}

.about h2{
	color:#FFF;
}

.me img {
	
	max-width: 80%;
}

	.me {
	float: left;
	width: 50%;
	padding: 10px;
	}

	

	.about-text {
		float: right;
		width: 50%;
		align-content: center;
		padding: 15vh 1vw  0vh 0vw;
	
		}

	
	
	.column {
		float: left;
		width: 50%;
		padding: 10em 0em;
	  }

	  .column img{
		max-width: 100;
	  }
	  
	  .brow {
      width: 100%;
	  padding: 30px 10% 31px 10%;
	  }
	  
	  .portfolio {
		 padding: 50px 7% 50px 10%;
		  width: 100%;
		  background-color:#a3c0f2ff ;
	  }

	  .portfolio h1{
		  font-size: 5em ;
		  color: #384bb7ff;
	  }
	  
	  .blogpost { 
		  padding:60px 0px 0px 0px;
	  transition: ease-in;
	  background-color: #ffca4fff;

	  }
	  .blog {
		 width: 100%;
		 padding: 0px 7% 50px 10%;
		 background-color: #ffca4fff;
	  }

	  .blog h1{
		font-size: 5em ;
		color: #384bb7ff;
	}
	 
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }

	  .brow:after {
		content: "";
		display: table;
		clear: both;
	  }

	  .bcolumn a{
  color: #eca400;
	  }

	  .bcolumn a:hover, .bcolumn a:focus {
		color: #3B7DE4;
	}
	  	/*CTA
=========*/

.cta{
	background:#a3c0f2ff;
	padding: 7em 13em 5em;
	color: #FFF;
	
	
}


/*Footer
=====*/

footer{
	
	background: #384bb7ff;
	text-align: left;
    padding: 5em 0 7em 0;
	
	
}

footer p{
	font-size: 1em;
	color: #FFF;
}
footer {
	color: #FFF;
}
footer a{
	text-decoration: none;
	font-size: 1em;
	color: #FFF
	
}

footer a:hover,
footer a:focus{
	color: #3B7DE4
}

.unstyled-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	
	
}

/*-- Buttons */

.button {
	background-color: #f18b93ff;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 25px 2px;
	cursor: pointer;
	align-content: inherit;
	float: left;
  }

  .button {border-radius: 18px;}
	
  
  .button:hover {
	background-color: #ffca4fff;
	color: white;
  }

  .about .button:hover {
	background-color: #a3c0f2ff;
	color: white;
  }
  .blogpost .button:hover {
	background-color: #a3c0f2ff;
	color: white;
  }
  .blog .button:hover {
	background-color: #a3c0f2ff;
	color: white;
  }
	 
/*Column system
============*/
[class^=col-] {
	width: 100%;
	margin-top: 1em;
	word-wrap: break-word;
}
[class^=col-]:first-child {
	margin-top: 0;
	

	
}
.col-1{
	width: 33.33334%;
	float: left;
	
	
}

@media (min-width:40rem) {
	
 [class^=col-] {
	float:left;
	padding: 0 .5em;
}
[class^=col-]:first-child{
	padding-left: 0;
}

[class^=col-]:last-child{
	padding-right: 0;
}

.col-3{
	width: 50%;
}

.col-1{
	width: 16.666%;
}
}

	

		@media screen and (max-width: 1200px){
			.container{
				padding-top:5em;
				padding-bottom:8em;


			}
			
			.title{
				font-size: 10rem;
				margin:0;
			}
			
			
			.me {
				width: 100%;
		
			}

			.column {
				width: 100%;
				padding: 7vh 0vw 5vh 0vw;
			  }
		
		
			.about-text {
				width: 100%;
				padding: 3vh 1vw  1vh 8vw;
		
			}

			
			  .bpcolumn {
				width: 100%;
			  }
			  .bcolumn {
				width: 100%;
			
			}
			
			.cta{
				padding: 0em 2em 2em;
				
				
			}
		

			.dtitle{
				font-size: 5rem;
     			padding: 200px 0px 90px 0px;
			}
		}

		@media screen and (max-width: 600px){

			.home-intro {
				/* background-image: url("../img/headersm.png");*/
				padding-top: 12vh;
				background-size: cover;
			}
	
			.title{
				font-size: 8rem;
			}
			.container{
				padding: 8em 1em 9em 3em;
						}
			.about{
				 padding: 10px 0px;
 				transition: ease-in;
 				background-color: #ffca4fff;
}
		
			.me {
				width: 100%;
				padding:15px 0px 20px 0px;
		
			}
		
			.about-text {
				width: 100%;
				padding: 3vh 1vw  3vh 0vw;
		
			}
		.row {
			padding-bottom: 10px;
		}
	
			.column {
				width: 100%;
				padding: 10px 0px;
			  }
			  .bpcolumn {
				width: 100%;
			  }
			  .bcolumn {
				width: 100%;
			  }
			 
			  .portfolio{
				 padding: 50px 10% 10px 10%;

			 }

			 .portfolio h1 {
				font-size: 4em;
			}
			.blogpost{
				padding: 0px 0px;
			}

			.blog{
				padding:0px 7% 10px 10%
		
			}


			.cta {
				padding: 1em 2em;
				
				
			}
		}

	/*collapsible*/
	.collapsible {
		background-color: #a3c0f2ff;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		outline: none;
		font-size: 15px;

	  }

	  
	  .active, .collapsible:hover {
		background-color: #ffca4fff;
	  }
	  
	  .collapsible {border-radius: 30px;}

	  .content {
		padding: 0 18px 25px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		background-color: #a3c0f2ff;
	  }
	