@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park:300,400,600,700&display=swap');

*{
box-sizing: border-box;
transition: all ease-in-out 250ms
}
body{
	margin: 0;
	font-family: 'Kulim Park', sans-serif;
	text-align: center;

	
}


img{
	max-width: 100%;
	height: auto;
	
}

/*typography ============*/
h1{
	font-size: 3.052rem;
	margin-top: 0;
	
}

h2{
	font-size: 2.441rem;
	margin-top: 0;
	
}

h3{
	font-size: 1.953rem;
}

input{
	font-size: .8em;
}
label {
	
	font-size: 1.8em;
}

p{
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	text-align:left;


}

p:last-of-type {
	margin-bottom: 0;
	
}


.title{
	font-size: 10rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: .5em;
}

.title span{
	font-weight: 300;
	display:block;
	font-size: .85em
}

.title-cta{
	margin: 0 0 .5em;
}

.unstyled-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	
	
}

@media(min-width: 60rem){
	.title{
		font-size: 18rem;
	
	}
}


/*header
============*/

header{
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
    background-color: #141b41;
}

nav ul{
	margin: 0;
	padding: 0;
    list-style: none;
    
}

nav li{
	display: inline-block;
	margin: 1em;
	
}
nav a{
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	padding: .5em;
    color: white;
    

}

nav a:hover,
nav a:focus{
	color: #3B7DE4
}
@media(min-width: 60rem){
	.logo{
        float: left;
    	max-width: 10%;
}
	
	nav {
        float: right
        
	}
    }

    .container{
        width: 95%;
        max-width: 70em;
        margin: 0 auto;

    }
    

.home-intro{
	
	background-image: url("../img/header.png");
	background-size: cover;
	background-position: center;
	padding: 10em 0;
    color: #eca400;
    background-attachment: fixed;

}
   
.about{
 padding: 100px 0px;
}

.about after {
		content: "";
		display: table;
		clear: both;
}
.me img {
	
	max-width: 80%;
}

	.me {
	float: left;
	width: 50%;
	padding: 10px;
	}

	

	.about-text {
		float: right;
		width: 50%;
		padding:10vh 2vw;
		align-content: center;


	}
	
	.column {
		float: left;
		width: 33.33%;
		padding: 10px;
	  }

	  .column img{
		max-width: 100;
	  }
	  .bcolumn {
		float: left;
		width: 50%;
		padding: 10px;
	  }
	  .bpcolumn {
		float: right;
		width: 50%;
		padding: 10px;
	  }
	  .bpcolumn img{
		max-width: 80;
	  }
	 
	  
	  .portfolio {
		 padding: 450px 15% 100px 15%;
		  width: 100%;
	  }
	  
	  .blog {
		padding: 100px 15% 100px 15%;
		 width: 100%;
	  }

	  
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }

	  .brow:after {
		content: "";
		display: table;
		clear: both;
	  }

	  	/*CTA
=========*/

.cta{
	background: #6F9CEB;
	padding: 6em 0;
	color: #FFF;
	
	
}


/*Footer
=====*/

footer{
	
	background: #273469;
	text-align: left;
	padding: 5em 0;
	
	
}

footer p{
	font-size: 1em;
	color: #FFF;
}
footer {
	color: #FFF;
}
footer a{
	text-decoration: none;
	font-size: 1em;
	color: #FFF
	
}

footer a:hover,
footer a:focus{
	color: #3B7DE4
}

.button-dark{
	color:#FFF;
	border-color:#FFF;
}

.button{
	font-size: 1.5rem;	
}
button{
	font-size: 1.15rem;
	text-decoration:none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding:.5em 1.5em
	}

.botton-dark:hover,
.button-dark:focus{
	background: #2734698;
	color:#FFF;
}
	 
/*Column system
============*/
[class^=col-] {
	width: 100%;
	margin-top: 1em;
	word-wrap: break-word;
}
[class^=col-]:first-child {
	margin-top: 0;
	

	
}
.col-1{
	width: 33.33334%;
	float: left;
	
	
}

@media (min-width:40rem) {
	
 [class^=col-] {
	float:left;
	padding: 0 .5em;
}
[class^=col-]:first-child{
	padding-left: 0;
}

[class^=col-]:last-child{
	padding-right: 0;
}

.col-3{
	width: 50%;
}

.col-1{
	width: 16.666%;
}
}

	@media screen and (max-width: 600px){

		.home-intro {
			background-image: url("../img/headersm.png");
			padding-top: 25vh;
			background-size: cover;
		}
		
	
		.me {
			width: 100%;
	
		}
	
		.about-text {
			width: 100%;
	
		}

		.column {
			width: 100%;
		  }
		  .bpcolumn {
			width: 100%;
		  }
		  .bcolumn {
			width: 100%;
		  }
		
		}


		@media screen and (max-width: 1200px){
			.me {
				width: 100%;
		
			}
		
			.about-text {
				width: 100%;
		
			}
		  
		  }